body {
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    background-color: rgb(255, 235, 255);
}

.home .myname, .contact {
  display: flex;
}

.home .myname h1 {
  transform: rotate(-90deg);
  float: left;
  padding: 20px;
  margin: 0;
  line-height: 1.15rem;
  margin-top: 30px;
}

.myname h1 span {
  color: rgb(34, 184, 164);
}

#contact {
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid black;
  border-radius: 25%;
}

.contact {
  position: absolute;
  bottom: 30px;
}

.contact ul {
  margin: 0;
}

.home .contact ul li {
  padding: 5px 0;
}

.screen img {
  width: 50%;
  height: auto;
  
}

body .coding {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  line-height: 1.35rem;
  padding: 40px;
  border-radius: 20px;
  border: 8px solid rgb(250, 246, 246);
  width: fit-content;
  margin-left: 30%;
  margin-right: 28%;
}

.coding #blue {
  color: rgb(6, 255, 222);
}
.coding #yellow {
  color: rgb(230, 255, 4);
}
.coding #red {
  color: rgb(197, 5, 255);
}
.coding #green {
  color: rgb(253, 92, 213);
}

.bar ul li a {
  text-decoration: none;
}

.bar ul li {
  padding: 55px;
}

.arrow{
  position: absolute;
  bottom: 76px;
  transform: translate(-50%,-50%);
  margin-left: 50%;
}

.arrow span{
  display: block;
  width: 13px;
  height: 13px;
  border-bottom: 5px solid #fafbfc;
  border-right: 5px solid #fafbfc;
  margin: -12px;
  animation: animate 1.5s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}

@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}

@media only screen and (width: 360px) and (height: 640px) {
  
  body {
    background-attachment: fixed;
  }

  #logo {
    animation:none;
    font-size: 3rem;
    text-shadow: 0.5px 0.5px white, 0 0 20px pink, 0 0 5px rgb(241, 255, 159);
  }

  .bar ul li {
    display: block;
    padding: 20px;
  }
  
  .bar {
    text-align: center;
    margin: auto;
  }

  .bar ul {
    padding: 0;
  }

  .bar ul li a {
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
    text-shadow: 0.5px 0.5px black, 0 0 10px pink;
  }

  body .coding {
    font-size: 9px;
    line-height: 11.5px;
    width: 85%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgb(250, 246, 246);
    bottom: 12px;
    margin-left: 16px;
  }

  .arrow {
    visibility: hidden;
  }
}

@media only screen and (min-width: 370px) 
and (max-width: 420px) and (min-height: 660px) 
and (max-height: 825px) {
  body {
    background-attachment: fixed;
  }

  #logo {
    animation:none;
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 0.5px 0.5px white, 0 0 20px pink, 0 0 5px rgb(241, 255, 159);
  }

  .bar ul li {
    display: block;
    padding: 30px;
  }
  
  .bar {
    text-align: center;
    margin: auto;
  }

  .bar ul {
    padding: 0;
  }

  .bar ul li a {
    font-size: 22px;
    font-weight: 700;
    color: aliceblue;
    text-shadow: 0.5px 0.5px black, 0 0 10px pink;
  }

  body .coding {
    font-size: 9.25px;
    line-height: 15px;
    width: 85%;
    padding: 6px;
    border-radius: 20px;
    border: 2px solid rgb(250, 246, 246);
    bottom: 12px;
    margin-left: 20px;
  }

  .arrow {
    visibility: hidden;
  }
}

@media only screen and (width: 320px) and (height: 568px) {
  body {
    background-attachment: fixed;
    height: fit-content;
  }

  #logo {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    line-height: 0;
    height: fit-content;
    animation:none;
    font-size: 3rem;
    text-shadow: 0.5px 0.5px white, 0 0 20px pink, 0 0 5px rgb(241, 255, 159);
  }

  .bar ul li {
    display: block;
    padding: 10px;
  }
  
  .bar {
    text-align: center;
    margin-top: 10px;
    height: fit-content;
  }

  .bar ul {
    padding: 0;
  }

  .bar ul li a {
    font-size: 18px;
    font-weight: 700;
    color: aliceblue;
    text-shadow: 0.5px 0.5px black, 0 0 10px pink;
  }

  body .coding {
    font-size: 9px;
    line-height: 11.5px;
    width: 85%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgb(250, 246, 246);
    bottom: 12px;
    margin-left: 16px;
  }

  .arrow {
    visibility: hidden;
  }
}

@media only screen and (min-width: 760px) and (max-width: 1024px)
and (min-height: 1024px) and (max-height: 1370px) {
  body {
    background-attachment: fixed;
  }

  #logo {
    animation:none;
    font-size: 6rem;
    text-shadow: 0.5px 0.5px white, 0 0 20px pink, 0 0 5px rgb(241, 255, 159);
  }

  .bar ul li {
    display: block;
    padding: 20px;
  }
  
  .bar {
    text-align: center;
    margin: auto;
  }

  .bar ul {
    padding: 0;
  }

  .bar ul li a {
    font-size: 40px;
    font-weight: 700;
    color: aliceblue;
    text-shadow: 0.5px 0.5px black, 0 0 10px pink;
  }

  body .coding {
    font-size: 18px;
    line-height: 21px;
    width: 80%;
    padding: 6px;
    border-radius: 20px;
    border: 2px solid rgb(250, 246, 246);
    bottom: 12px;
    margin-left: 10%;
  }
  .arrow {
    visibility: hidden;
  }
}

@media only screen and (width: 540px) and (height: 720px) {
  body {
    background-attachment: fixed;
  }

  #logo {
    animation:none;
    font-size: 3rem;
    text-shadow: 0.5px 0.5px white, 0 0 20px pink, 0 0 5px rgb(241, 255, 159);
  }

  .bar ul li {
    display: block;
    padding: 20px;
  }
  
  .bar {
    text-align: center;
    margin: auto;
  }

  .bar ul {
    padding: 0;
  }

  .bar ul li a {
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
    text-shadow: 0.5px 0.5px black, 0 0 10px pink;
  }

  body .coding {
    font-size: 12px;
    line-height: 14.5px;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgb(250, 246, 246);
    bottom: 12px;
    margin-left: 10%;
  }

  .arrow {
    visibility: hidden;
  }
}

@media only screen and (width: 280px) and (height: 653px) {
  body {
    background-attachment: fixed;
  }

  #logo {
    animation:none;
    font-size: 2.6rem;
    text-shadow: 0.5px 0.5px white, 0 0 20px pink, 0 0 5px rgb(241, 255, 159);
  }

  .bar ul li {
    display: block;
    padding: 10px;
  }
  
  .bar {
    text-align: center;
    margin: auto;
  }

  .bar ul {
    padding: 0;
  }

  .bar ul li a {
    font-size: 18px;
    font-weight: 700;
    color: aliceblue;
    text-shadow: 0.5px 0.5px black, 0 0 10px pink;
  }

  body .coding {
    font-size: 9px;
    line-height: 13.5px;
    width: 80%;
    padding: 6px;
    border-radius: 20px;
    border: 2px solid rgb(250, 246, 246);
    bottom: 12px;
    margin-left: 7.5%;
  }

  .arrow {
    visibility: hidden;
  }
}